<!DOCTYPE html>
@{
    ViewData["Title"] = "About Me";
}

<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/FinalProject_TreonZT.styles.css" asp-append-version="true" />
</head>



<body>
    <div class="container-fluid">


        
            
                <div class="jumbotron text-center">
                    <h2>About Me</h2>
                    <hr />
                    
            <h3>
                        My name is Zachary Treon, I was born and raised in Cincinnati, Ohio. 
                        Im in my third year of studying Information Technology with a software development track at the University of Cincinnati.
                        I love to garden and be out in nature. Growing up, I played baseball and ran cross country.
                        
                </p>
                <img src="~/aboutme.jpg" />
            </h3>
                </div>
                <div class="jumbotron text-center">
            <h2>My Hockey Journey</h2>
        
        <hr />
        
                    <p>
                        <h4>
                        I started playing hockey two years ago. My older brother and I joined a learn to play hockey
                        program. It was really dificult to pick up a sport we had never played, especial
                        y since hockey is so unique. It's the only contact sport on ice, learning to skate was our biggest challenge. 
                        <br />
                        Last year, I joined an Adult Hockey League based out of Cincinnati. 
                        When I first started playing, I played as a Right Wing, since I'm a leftie. After ine season, I was moved to 
                        center because I'm a strong skater and I'm good at faceoffs.

                </h4>
                    </p>
            <img src="~/aboutme2.jpg" />
        </div>
    </div>
    </div>
</body>


<footer></footer>

</html>

