<!DOCTYPE html>
@{
    ViewData["Title"] = "BasicInfo";
}

<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/FinalProject_TreonZT.styles.css" asp-append-version="true" />
</head>



    <body>
<div class="container-fluid">

        
       <center><p>
           <div class="jumbotron text-center">
            <h1>Hockey History</h1>
        </div> 
        <div class="jumbotron text-center">
            <p>
                    Early 19th-century paintings depict shinny, an early form of hockey with no standard rules which was played in Nova Scotia.
                    Many of these early games absorbed the physical aggression of what the Onondaga called dehuntshigwa'es (lacrosse). Shinny was played on the St. Lawrence River 
                    at Montreal and Quebec City, in Kingston and Ottawa. The number of players was often large. To this day, shinny (derived from the Scottish game of shinty) is a 
                    popular Canadian term for an informal type of hockey, either ice or street hockey.

                      </p>
                      <img class="padded" src="~/early+hockey+game.jpg" />
                      <p>
                The Canadian city of Montreal, Quebec, became the centre of the development of contemporary ice hockey, and is recognized as the birthplace of organized ice hockey.
                On March 3, 1875, the first organized indoor game was played at Montreal's Victoria Skating Rink between two nine-player teams, including James Creighton and several McGill University students. 
                Instead of a ball or bung, the game featured a "flat circular piecee of wood". The goal posts were 8 feet (2.4 m) apart (today's goals are six feet (1.8 m) wide).
                 Some observers of the game at McGill made quick note of its surprisingly aggressive and violent nature.

                
                In 1876, games played in Montreal were "conducted under the 'Hockey Association' rules";
                the Hockey Association was England's field hockey organization. In 1877, The Gazette (Montreal) published a list of seven rules, 
                six of which were largely based on six of the Hockey Association's twelve rules, with only minor differences (even the word "ball" was kept);
                the one added rule explained how disputes should be settled. The McGill University Hockey Club, the first ice hockey club, was founded in 1877
                (followed by the Quebec Hockey Club in 1878 and the Montreal Victorias in 1881). In 1880, the number of players per side was reduced from nine to seven.
                      </p>

            </center>
        </div>
    </div>
</body>


<footer></footer>

</html>

