<!DOCTYPE html>
@{
    ViewData["Title"] = "Home Page";
}

<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" media="screen" />
</head>
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to my website about Hockey!</h1>
    <hr />
    <img src="~/cyclones.jpg" />
    <h2>Project made by Zachary Treon <br />
        Web Server Application Development
    </h2>
    <h3>Professor Dylon Dekon</h3>
</div>
</html>