<!DOCTYPE html>
@{
    ViewData["Title"] = "NHL";
}

<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" media="screen" />

</head>


<body>

    <div class="container-fluid">

    <div class="jumbotron text-center">
        <h1>Modern Hockey</h1>
    </div>

    
        <div class="jumbotron text-center">
                <p>
                    <h2>National Hockey League</h2>
                <hr />
               <h3> The National Hockey League is a professional ice hockey league in North America comprising 32 teams—25 in the United States and 7 in Canada. It was founded in 1917
                </h3>
                </p>
                <img src="~/nhl.jpg" />
                </div>

        <div class="jumbotron text-center">
            <h2>Basic Info</h2>
            <hr />
            <p>
                <ul class="list-group-item">
                    <li class="list-group-item"><h4>Hockey games are 60 minutes in total: 3 periods of 20 minutes</h4></li>
                    
                    <li class="list-group-item"><h4> The rink is 200 feet long</h4></li>
                    <li class="list-group-item"><h4>A professional hockey player can skate 8-10 miles during a game</h4></li>
                </ul>






            </p>

        </div>

    </div>
    <div class="jumbotron text-center">
        <div class="row">
            <h2>Positions</h2>
                <hr />
            <div class="col-sm-4">
                <h3>Defense</h3>
                <p>
                    Two players, left and right are the key
                    in a team's ability to block goals and apply
                    pressure in the defensive zone. It is up
                    to the defensemen to help the goalie and prevent shots on goal
                </p>
            </div>
            <div class="col-sm-4">
                <Center><h3>Forwards</h3></Center>
                <p>
                    Three players on the ice, with the primary responsibility to score and assist goals.
                    This position consists of a left wing, center, and right wing.
                </p>
            </div>
            <div class="col-sm-4">
                <right><h3>Goaltender</h3></right>
                <p>
                    The player responsible for preventing the hockey
                    puck from entering their team's net, thus preventing the opposing team from scoring.
                    The goaltender mostly plays in or near the area in front
                    of the net called the goal crease
                </p>
            </div>
            <Center> <img src="~/Hockey+Positions.png" width="720" height="420"> </Center>
        </div>
        </div>
            <div class="jumbotron text-center">
            <center>
                <h2>Faceoffs</h2>
                <hr />
                <p>
                    The faceoff is used to begin every game, period and play. Faceoffs mostly happen after a Golie makes a save, stopping the play. A faceoff occurs when a referee drops the puck
                    between the sticks of two opposing players.
                    The opposing players then fight for possession of the puck.




                </p>
                <img src="~/face-off.jpg" />


            </center>
            </div>
        <center>
            <div class="jumbotron text-center">
                <h2>Fighting</h2>
                <hr />
            <p>
               

                Hockey is unique in that it's the only sport that tolerates fighting




            </p>
            <img src="~/fight.jpg" />
            </div>

        </center>
        
            

    </div>  
   

        </div>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
<footer></footer>
</html>